# virtual environment
venv/
# foundry
dry-run/
31337/
cache/
out/
broadcast/*
!broadcast/*.sol/
# Ignore broadcast files for local (31337) and regtest (33) networks only
broadcast/*.sol/31337/
broadcast/*.sol/33/
# For testnet (31), alphanet (31), and mainnet (30), ignore timestamped run files but keep run-latest.json
broadcast/*.sol/31/run-*.json
!broadcast/*.sol/31/run-latest.json
broadcast/*.sol/30/run-*.json
!broadcast/*.sol/30/run-latest.json
# macOS
.DS_Store
#rust
target/
# vscode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
# node (installed to supress openzeppelin-foundry-upgrades warnings)
package-lock.json
package.json
node_modules/
# coverage
lcov.info