# virtual environment
venv/
# foundry
dry-run/
31337/
cache/
out/
# macOS
.DS_Store
# vscode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
# node (installed to supress openzeppelin-foundry-upgrades warnings)
package-lock.json
package.json
node_modules/
# coverage
lcov.info