# virtual environment
venv/
# foundry
dry-run/
31337/
cache/
out/
# macOS
.DS_Store
# vscode
.vscode/
# node (installed to supress openzeppelin-foundry-upgrades warnings)
package-lock.json
package.json
node_modules/